body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  line-height: 18px;
  color: rgb(252, 250, 250);
  background-color: black;
 }
 .legend i {
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 8px;
  opacity: 0.9;
 }